<h1>Listing <%= plural_name %></h1>

<table>
  <thead>
  	<tr>
  	  <td>ID</td>
	  <td>Starts at</td>
	  <td>Actions</td>
  	</tr>
  </thead>

<%% for <%= singular_name %> in @<%= plural_name %> %>
  <tr>
  	<td><%%= <%= singular_name %>.id %></td>
	<td><%%= <%= singular_name %>.starts_at %></td>
	<td>
		<%% form_for(current_player) do |f| %>
		  <%%= f.hidden_field :<%= singular_name %>_id, :value => <%= singular_name %>.id %>
		  <%%= f.submit "Join" %>
		<%% end %>
	</td>
  </tr>
<%% end %>
</table>
